body {
  background-color: rgb(240, 241, 240);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 0.3fr auto;
  grid-template-areas: "header" "main";
}
@media (min-width: 1000px) {
  body {
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "header main";
  }
}

a {
  color: rgb(68, 101, 68);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  grid-area: header;
  background-image: url("/images/leaves.jpg");
  background-position: center;
  position: relative;
  color: white;
}
header .title-ctn {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.481);
  display: flex;
  justify-content: center;
  margin-block-start: 10em;
}
header .title-ctn img {
  width: 80px;
  height: auto;
}
header .title-ctn h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
header p {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, 50%);
  width: -moz-max-content;
  width: max-content;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}
main > div {
  padding: 2em 2em;
  max-width: 47ch;
}
@media (min-width: 1000px) {
  main > div {
    margin-block-start: 5em;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
form fieldset {
  background-color: white;
  width: 100%;
  border: none;
  padding-block: 1em;
  padding-inline: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.166);
  position: relative;
}
form fieldset .ctn {
  display: grid;
  width: -moz-min-content;
  width: min-content;
  padding-inline-start: 2em;
}
@media (min-width: 800px) {
  form fieldset .ctn {
    grid-template-columns: 1fr 1fr;
  }
}
form fieldset legend {
  padding-block-start: 3em;
  padding-inline-start: 2em;
}
form fieldset div:not(.ctn) {
  display: flex;
  flex-direction: column;
  padding-block-end: 1em;
  gap: 2px;
}
@media (min-width: 800px) {
  form fieldset div:not(.ctn):nth-child(2n+1) {
    padding-inline-end: 3em;
  }
}
form fieldset label {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(63, 63, 63);
  letter-spacing: 0.1em;
}
form fieldset input {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 3px;
  font-size: 16px;
  padding: 6px 0.5em;
  min-width: 300px;
}
form fieldset input:focus-within {
  outline: 1px solid blue;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
}
form fieldset input:invalid {
  outline: 1px solid red;
}
form button {
  border: none;
  background-color: rgb(68, 101, 68);
  color: white;
  padding: 0.8em 3em;
  border-radius: 5px;
  font-size: 0.8em;
  margin: 2em 3em;
  cursor: pointer;
}
form p {
  padding: 0;
  font-size: 0.8em;
  margin-inline-start: 3em;
  margin-block-start: 0;
}
form span {
  font-size: 12px;
  color: red;
  position: absolute;
  padding-inline-start: 4em;
  bottom: 2em;
}/*# sourceMappingURL=style.css.map */